Repository TechCESA/clubcesa.tech: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-path .gitignore ., eslint --fix, eslint

feat: event page added
  actions/event-data.js
  app/events/ongoing/[slug]/page.jsx
  app/page.jsx
  components/events/events_components.jsx
  components/product/product.jsx
Due: prettier --write --ignore-path .gitignore ., eslint --fix, eslint

feat: valo live
  actions/event-data.js
  app/events/ongoing/[slug]/page.jsx
  components/events/events_components.jsx
Due: prettier --write --ignore-path .gitignore ., eslint --fix, eslint

fix: description on valo
  actions/event-data.js
Due: prettier --write --ignore-path .gitignore ., eslint --fix, eslint

feat: referral leaderboard added
  actions/pr_system.js
  app/events/ongoing/[slug]/not-found.jsx
  app/events/ongoing/[slug]/page.jsx
  app/events/past/[slug]/not-found.jsx
  app/merch/[slug]/not-found.jsx
  components/leaderboard.jsx
  components/not_found.jsx
Due: prettier --write --ignore-path .gitignore ., eslint --fix, eslint

feat: referral point leaderboard added
  actions/event-data.js
  actions/pr_system.js
  app/events/ongoing/[slug]/page.jsx
  app/referrals/page.jsx
  components/hero.jsx
  components/leaderboard.jsx
  components/navbar.jsx
  css/heading.scss
Due: prettier --write --ignore-path .gitignore ., eslint --fix, eslint

chore: minor changes
  actions/event-data.js
  app/layout.jsx
  components/navbar.jsx
Due: prettier --write --ignore-path .gitignore ., eslint --fix, eslint

fix: footer live
  actions/event-data.js
  app/layout.jsx
  app/resources/page.jsx
  components/events/events.jsx
  components/past_events/style.css
Due: prettier --write --ignore-path .gitignore ., eslint --fix, eslint

fix: sponsors remved
  app/page.jsx
  components/sponsors.jsx
Due: prettier --write --ignore-path .gitignore ., eslint --fix, eslint

fix: scaneger live
  actions/event-data.js
  app/events/ongoing/[slug]/page.jsx
Due: prettier --write --ignore-path .gitignore ., eslint --fix, eslint

price changed
  actions/event-data.js
Due: prettier --write --ignore-path .gitignore ., eslint --fix, eslint

feat: all events are added
  actions/event-data.js
  package.json
Due: prettier --write --ignore-path .gitignore ., eslint --fix, eslint

feat: events route added
  app/events/events.jsx
  app/events/page.jsx
Due: prettier --write --ignore-path .gitignore ., eslint --fix, eslint

Update navbar.jsx
  components/navbar.jsx
Due: prettier --write --ignore-path .gitignore ., eslint --fix, eslint

Update layout.jsx
  app/layout.jsx
Due: prettier --write --ignore-path .gitignore ., eslint --fix, eslint

fix: /team issues resolved
  actions/event-data.js
  app/events/events.jsx
  app/events/ongoing/[slug]/page.jsx
Due: prettier --write --ignore-path .gitignore ., eslint --fix, eslint

fix: file and folder stucture and husky
  .github/ISSUE_TEMPLATE/bug_report.md
  .husky/commit-msg
  .husky/pre-commit
  .husky/pre-push
  app/events/past/[slug]/page.jsx
  app/layout.jsx
  app/merch/[slug]/local.css
  app/merch/[slug]/page.jsx
  app/page.jsx
  commitlint.config.js
  components/events/ongoing/events-card.jsx
  components/events/ongoing/events.jsx
  components/events/past/carousel.jsx
  components/events/past/events-card.jsx
  components/events/past/events-path.jsx
  components/events/past/events.jsx
  components/product/nav.jsx
  css/events.css
  css/globals.css
  css/sponsors.css
  package-lock.json
  package.json
  public/images/billboard.png
  public/sponsors/slack-logo.png
Due: prettier --write --ignore-path .gitignore ., eslint --fix, eslint

minor fixes
  app/layout.jsx
Due: prettier --write --ignore-path .gitignore ., eslint --fix, eslint

Initial commit from Create Next App
  .eslintrc.json
  .gitignore
  README.md
  next.config.mjs
  package-lock.json
  package.json
  postcss.config.mjs
  public/next.svg
  public/vercel.svg
  src/app/favicon.ico
  src/app/globals.css
  src/app/layout.tsx
  src/app/page.tsx
  tailwind.config.ts
  tsconfig.json
Due: prettier --write --ignore-path .gitignore .

fix: UI changes
  public/images/footer.svg
  src/app/events/page.tsx
  src/app/layout.tsx
  src/app/memories/page.tsx
  src/app/page.tsx
  src/app/resources/layout.tsx
  src/components/bento.tsx
  src/components/footer.tsx
  src/components/hero.tsx
  src/components/navbar.tsx
  src/components/ui/card.tsx
  tailwind.config.ts
Due: none

imp: Memories section overflow issue solved
  .next/cache/webpack/client-development/index.pack.gz
  .next/cache/webpack/client-development/index.pack.gz.old
  .next/cache/webpack/server-development/2.pack.gz
  .next/cache/webpack/server-development/index.pack.gz
  .next/cache/webpack/server-development/index.pack.gz.old
  .next/server/app/memories/page.js
  .next/server/server-reference-manifest.js
  .next/server/server-reference-manifest.json
  .next/server/webpack-runtime.js
  .next/static/chunks/app/layout.js
  .next/static/chunks/webpack.js
  .next/static/css/app/layout.css
  .next/trace
  next.config.mjs
  src/app/memories/page.tsx
Due: prettier --write --ignore-path .gitignore ., eslint --fix, eslint

fix: Image overflow issue solved
  .next/cache/webpack/client-development/index.pack.gz
  .next/cache/webpack/client-development/index.pack.gz.old
  .next/cache/webpack/server-development/2.pack.gz
  .next/cache/webpack/server-development/index.pack.gz
  .next/cache/webpack/server-development/index.pack.gz.old
  .next/server/app-paths-manifest.json
  .next/server/app/memories/page.js
  .next/server/vendor-chunks/next@14.2.3_react-dom@18.3.0_react@18.3.0__react@18.3.0_sass@1.75.0.js
  .next/server/webpack-runtime.js
  .next/static/chunks/app/layout.js
  .next/static/chunks/webpack.js
  .next/static/css/app/layout.css
  .next/trace
  src/app/memories/page.tsx
Due: prettier --write --ignore-path .gitignore ., eslint --fix, eslint

fix: text issue solved
  .next/cache/webpack/client-development/index.pack.gz
  .next/cache/webpack/client-development/index.pack.gz.old
  .next/server/app/memories/page.js
  .next/server/webpack-runtime.js
  .next/static/chunks/app/layout.js
  .next/static/chunks/webpack.js
  .next/static/css/app/layout.css
  .next/trace
  src/app/memories/page.tsx
Due: prettier --write --ignore-path .gitignore ., eslint --fix, eslint

undef: Unkown files
  .next/cache/webpack/client-development/index.pack.gz
  .next/cache/webpack/client-development/index.pack.gz.old
  .next/cache/webpack/server-development/index.pack.gz
  .next/cache/webpack/server-development/index.pack.gz.old
Due: none

fix: Pointer events
  .next/app-build-manifest.json
  .next/cache/webpack/client-development/index.pack.gz
  .next/cache/webpack/client-development/index.pack.gz.old
  .next/cache/webpack/server-development/index.pack.gz
  .next/cache/webpack/server-development/index.pack.gz.old
  .next/server/app-paths-manifest.json
  .next/server/app/memories/page.js
  .next/server/app/memories/page_client-reference-manifest.js
  .next/server/server-reference-manifest.js
  .next/server/server-reference-manifest.json
  .next/server/vendor-chunks/next@14.2.3_react-dom@18.3.0_react@18.3.0__react@18.3.0_sass@1.75.0.js
  .next/server/webpack-runtime.js
  .next/static/chunks/app/layout.js
  .next/static/chunks/webpack.js
  .next/static/css/app/layout.css
  .next/trace
  src/app/memories/page.tsx
Due: prettier --write --ignore-path .gitignore ., eslint --fix, eslint

feat: bento grid
  package.json
  pnpm-lock.yaml
  public/icons/Instagram.svg
  public/icons/instagram.webp
  public/images/bvcoe-map.png
  public/images/cesa-insta.svg
  public/images/cesa-love.svg
  public/images/members.svg
  src/app/page.tsx
  src/components/bento.tsx
  src/components/footer.tsx
  src/components/ui/separator.tsx
Due: prettier --write --ignore-path .gitignore .

fix: background text responsiveness
  src/components/bento.tsx
  src/components/hero.tsx
Due: none

fix: nav responsiveness
  package.json
  pnpm-lock.yaml
  src/components/back-button.tsx
  src/components/navbar.tsx
  src/components/ui/dropdown-menu.tsx
Due: prettier --write --ignore-path .gitignore .

Normal
  .DS_Store
Due: none

Normal
  next-env.d.ts
Due: none

feat: Memories section added
  next.config.mjs
  src/app/memories/page.tsx
Due: none

fix: minor fixes
  public/images/bvcoe-map.png
  src/app/layout.tsx
  src/app/members/page.tsx
  src/app/resources/layout.tsx
  src/app/resources/page.tsx
  src/components/back-button.tsx
  src/components/bento.tsx
Due: none

fix: insta image icon
  next.config.mjs
  public/icons/insta.svg
  src/app/memories/page.tsx
  src/components/bento.tsx
Due: none

Path conditions:
  prettier --write --ignore-path .gitignore .: (any of: *.{js,jsx}) or (any of: *.{css,scss,json})
  eslint --fix: any of: *.{js,jsx}
  eslint: any of: *.{js,jsx}
