Repository TechCESA/clubcesa.tech: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-path .gitignore ., eslint --fix, eslint

feat: Post verification
  src/firebaseConfig.js
Due: prettier --write --ignore-path .gitignore ., eslint --fix, eslint

feat: Radio button added in dashboard
  package.json
  pnpm-lock.yaml
  src/app/(admin-panel)/actions/resource.ts
  src/app/(admin-panel)/admin/components/radio_button.tsx
  src/app/(admin-panel)/admin/dashboard/add/page.tsx
  src/app/(admin-panel)/admin/dashboard/page.tsx
  src/app/(admin-panel)/admin/login/page.tsx
  src/components/ui/radio-group.tsx
  src/firebaseConfig.js
  src/lib/types.ts
Due: prettier --write --ignore-path .gitignore ., eslint --fix, eslint

feat: Removed firebaseConfig
  src/firebaseConfig.js
Due: prettier --write --ignore-path .gitignore ., eslint --fix, eslint

feat: user contribution feature on client side
  .env.sample
  package.json
  pnpm-lock.yaml
  src/app/(user-facing)/actions/contribute.ts
  src/app/(user-facing)/actions/user-verification.ts
  src/app/(user-facing)/learn/contribute/page.tsx
  src/app/(user-facing)/learn/page.tsx
  src/app/(user-facing)/learn/thank-you/page.tsx
  src/app/(user-facing)/learn/user-verify/page.tsx
  src/components/ui/input-otp.tsx
  src/lib/env.ts
  src/middleware.ts
Due: prettier --write --ignore-path .gitignore .

fix: input otp
  src/components/ui/input-otp.tsx
  tailwind.config.ts
Due: none

style: flex gap
  src/app/(user-facing)/learn/contribute/page.tsx
Due: none

refactor: user-verify -> verification
  next.config.mjs
  src/app/(user-facing)/learn/verification/page.tsx
  src/middleware.ts
Due: none

feat: github login using next-auth
  package.json
  pnpm-lock.yaml
  src/app/(admin-panel)/actions/resource.ts
  src/app/(admin-panel)/admin/dashboard/add/page.tsx
  src/app/(user-facing)/actions/contribute.ts
  src/app/(user-facing)/actions/user-verification.ts
  src/app/(user-facing)/layout.tsx
  src/app/(user-facing)/learn/contribute/page.tsx
  src/app/(user-facing)/learn/verification/page.tsx
  src/app/api/auth/[...nextauth]/route.ts
  src/components/auth-session-provider.tsx
  src/lib/env.ts
  src/middleware.ts
  src/types/next-auth.d.ts
Due: prettier --write --ignore-path .gitignore .

chore: env
  .env.sample
  src/lib/encoded_JWT_secrete.ts
  src/lib/env.ts
Due: none

feat (user): author added to resources
  next.config.mjs
  package.json
  pnpm-lock.yaml
  src/app/(admin-panel)/actions/resource.ts
  src/app/(user-facing)/actions/contribute.ts
  src/app/(user-facing)/actions/resources.ts
  src/app/(user-facing)/learn/[tag]/card.tsx
  src/app/(user-facing)/learn/[tag]/page.tsx
  src/components/ui/avatar.tsx
  src/lib/types.ts
Due: prettier --write --ignore-path .gitignore .

chore: minor changes
  src/app/(admin-panel)/admin/dashboard/page.tsx
  src/app/(user-facing)/learn/contribute/page.tsx
  src/components/resource_grid.tsx
Due: none

refactor: types
  src/app/(admin-panel)/actions/resource.ts
  src/app/(admin-panel)/admin/dashboard/edit/[id]/page.tsx
  src/app/(admin-panel)/admin/dashboard/page.tsx
  src/app/(user-facing)/actions/resources.ts
  src/app/api/auth/[...nextauth]/route.ts
  src/types/resource.ts
Due: none

fix: route export
  src/app/(user-facing)/actions/contribute.ts
  src/app/api/auth/[...nextauth]/options.ts
  src/app/api/auth/[...nextauth]/route.ts
Due: none

style: changes in css
  src/app/(user-facing)/learn/[tag]/card.tsx
  src/app/(user-facing)/learn/[tag]/page.tsx
  src/app/(user-facing)/learn/page.tsx
  src/components/resource_grid.tsx
Due: none

fix: tags on contribute page
  src/app/(user-facing)/actions/resources.ts
Due: none

fix: dashboard search
  src/app/(admin-panel)/admin/components/resource_search.tsx
  src/app/(admin-panel)/admin/dashboard/page.tsx
Due: none

style: formatting
  package.json
  pnpm-lock.yaml
  src/app/(admin-panel)/admin/components/radio_button.tsx
  src/app/(admin-panel)/admin/dashboard/not-found.tsx
  src/app/(user-facing)/memories/page.tsx
  src/app/(user-facing)/not-found.tsx
  src/components/extension/multi-selector.tsx
  src/components/ui/alert-dialog.tsx
  src/components/ui/dialog.tsx
Due: prettier --write --ignore-path .gitignore .

fix: next-auth token and session
  src/app/(user-facing)/actions/contribute.ts
  src/app/api/auth/[...nextauth]/options.ts
  src/types/next-auth.d.ts
Due: none

feat: timestamp added on resource
  src/app/(admin-panel)/actions/resource.ts
  src/app/(user-facing)/actions/contribute.ts
  src/app/(user-facing)/actions/resources.ts
  src/types/resource.ts
Due: none

refactor: css and files
  src/app/(user-facing)/learn/[tag]/card.tsx
  src/app/(user-facing)/learn/[tag]/page.tsx
  src/app/(user-facing)/learn/page.tsx
  src/components/resource_card.tsx
  src/components/resource_grid.tsx
  src/components/tag_card.tsx
Due: none

refactor: next auth page
  src/app/(user-facing)/learn/contribute/page.tsx
  src/app/api/auth/[...nextauth]/options.ts
Due: none

fix: unnecessary getSixDigitNumber
  src/app/(admin-panel)/admin/components/select_tag.tsx
  src/app/(admin-panel)/admin/dashboard/add/page.tsx
  src/app/(admin-panel)/admin/dashboard/edit/[id]/page.tsx
Due: none

feat: roles added to github auth
  src/app/api/auth/[...nextauth]/options.ts
  src/types/next-auth.d.ts
Due: none

chore: minor
  src/app/(user-facing)/learn/contribute/page.tsx
Due: none

refactor: layout
  src/app/(admin-panel)/layout.tsx
  src/app/layout.tsx
  src/components/navbar.tsx
Due: none

feat: not found
  src/app/(admin-panel)/admin/dashboard/not-found.tsx
  src/app/(user-facing)/not-found.tsx
  src/app/(user-facing)/not-found/page.tsx
  src/app/not-found.tsx
  src/components/not-found.tsx
Due: none

Update package.json
  package.json
Due: prettier --write --ignore-path .gitignore .

feat: role base authentication on user and admin side using next-auth
  src/app/(admin-panel)/admin/login/page.tsx
  src/app/(user-facing)/learn/contribute/page.tsx
  src/app/api/auth/[...nextauth]/options.ts
  src/lib/generate_admin.ts
  src/lib/verify_admin.ts
  src/middleware.ts
Due: none

chore: minor
  src/app/(user-facing)/actions/user-verification.ts
  src/lib/get-six-digit-num.ts
Due: none

refactor: unwanted code
  src/app/(admin-panel)/actions/admin.ts
  src/app/(user-facing)/events/page.tsx
  src/app/(user-facing)/members/page.tsx
  src/components/back-button.tsx
  src/lib/encoded_JWT_secrete.ts
Due: none

fix: build
  src/app/(user-facing)/actions/user-verification.ts
Due: none

style: dashboard
  src/app/(admin-panel)/admin/components/radio_button.tsx
  src/app/(admin-panel)/admin/dashboard/add/page.tsx
  src/app/(admin-panel)/admin/dashboard/page.tsx
Due: none

refactor: code splitting
  src/app/(admin-panel)/admin/dashboard/page.tsx
  src/app/(admin-panel)/lib/filter-resource.ts
Due: none

fix: card on dashboard and removed add page
  src/app/(admin-panel)/actions/resource.ts
  src/app/(admin-panel)/admin/components/resource_card.tsx
  src/app/(admin-panel)/admin/dashboard/page.tsx
Due: none

feat: signout button added
  src/app/(admin-panel)/admin/dashboard/layout.tsx
  src/app/(admin-panel)/admin/dashboard/page.tsx
  src/app/layout.tsx
  src/components/navbar.tsx
  src/components/signout-btn.tsx
Due: none

feat: Page transition added
  package.json
  pnpm-lock.yaml
  src/app/layout.tsx
  src/app/template.tsx
Due: prettier --write --ignore-path .gitignore .

Update issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Due: none

fix: tags resource ref to id
  src/app/(user-facing)/actions/contribute.ts
  src/app/(user-facing)/actions/resources.ts
  src/types/resource.ts
Due: none

fix: isVerified checkbox on edit page and form fields
  package.json
  pnpm-lock.yaml
  src/app/(admin-panel)/actions/resource.ts
  src/app/(admin-panel)/admin/dashboard/edit/[id]/page.tsx
  src/components/ui/checkbox.tsx
Due: prettier --write --ignore-path .gitignore .

fix: form fields on contribute page
  src/app/(user-facing)/actions/contribute.ts
Due: none

Path conditions:
  prettier --write --ignore-path .gitignore .: (any of: *.{js,jsx}) or (any of: *.{css,scss,json})
  eslint --fix: any of: *.{js,jsx}
  eslint: any of: *.{js,jsx}
