Repository TechCESA/clubcesa.tech: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-path .gitignore ., eslint --fix, eslint

.lintstagedrc:

{
  "*.{js,jsx}": [
    "prettier --write --ignore-path .gitignore .",
    "eslint --fix",
    "eslint"
  ],
  "*.{css,scss,json}": ["prettier --write --ignore-path .gitignore ."]
}

feat: Loading added on main page
  src/app/loading.tsx
Due: none

Update loading.tsx
  src/app/loading.tsx
Due: none

imp: Resourses page modified
  src/app/resources/[resource]/page.tsx
  src/app/resources/page.tsx
  src/app/resources/resource_card.tsx
  src/app/resources/resources_data.ts
Due: none

feat: Firebase Connected & .env added
  .env.sample
  package.json
  pnpm-lock.yaml
  src/app/layout.tsx
  src/app/members/page.tsx
  src/app/resources/page.tsx
  src/firebaseConfig.js
Due: prettier --write --ignore-path .gitignore ., eslint --fix, eslint

feat: Firebase Connected & .env added
  src/app/layout.tsx
Due: none

feat: Resource page modified
  package.json
  pnpm-lock.yaml
  src/app/api/resource/route.tsx
  src/app/layout.tsx
  src/app/members/page.tsx
  src/app/resources/[resource]/card.tsx
  src/app/resources/[resource]/page.tsx
  src/app/resources/page.tsx
  src/components/resource_card.tsx
  src/components/resource_grid.tsx
Due: prettier --write --ignore-path .gitignore .

feat: Api created for resources
  src/app/api/resource/route.tsx
  src/app/loading.tsx
  src/app/page.tsx
  src/app/resources/[resource]/page.tsx
  src/app/resources/page.tsx
  src/components/resource_grid.tsx
Due: none

feat: Api created for resources
  src/firebaseConfig.js
Due: prettier --write --ignore-path .gitignore ., eslint --fix, eslint

chore: minor changes
  .env.sample
  src/components/bento.tsx
Due: none

feat: NotFound
  src/app/layout.tsx
  src/app/not-found.tsx
  src/app/resources/resources_data.ts
  src/firebaseConfig.js
Due: prettier --write --ignore-path .gitignore ., eslint --fix, eslint

feat: NotFound
  src/app/not-found.tsx
  src/firebaseConfig.js
Due: prettier --write --ignore-path .gitignore ., eslint --fix, eslint

fix: resources and other minor details
  .env.sample
  .vscode/settings.json
  package.json
  pnpm-lock.yaml
  src/app/api/resource/route.tsx
  src/app/layout.tsx
  src/app/loading.tsx
  src/app/members/page.tsx
  src/app/resources/[resource]/card.tsx
  src/app/resources/[resource]/page.tsx
  src/app/resources/layout.tsx
  src/app/resources/page.tsx
  src/app/resources/resources_data.ts
  src/components/bento.tsx
  src/components/loader.tsx
  src/components/navbar.tsx
  src/components/resource_card.tsx
  src/components/resource_grid.tsx
  src/firebaseConfig.js
  tailwind.config.ts
Due: prettier --write --ignore-path .gitignore ., eslint --fix, eslint

feat: NotFound
  src/app/not-found.tsx
Due: none

feat: Server action created
  src/app/actions/resources.ts
  src/app/api/resource/route.tsx
  src/app/resources/[resource]/page.tsx
  src/components/resource_grid.tsx
  src/firebaseConfig.js
Due: prettier --write --ignore-path .gitignore ., eslint --fix, eslint

feat: Server action created
  src/firebaseConfig.js
Due: prettier --write --ignore-path .gitignore ., eslint --fix, eslint

config file
  src/firebaseConfig.js
Due: prettier --write --ignore-path .gitignore ., eslint --fix, eslint

imp: Resources converted to server component
  src/app/actions/resources.ts
  src/components/resource_grid.tsx
Due: none

imp: Inner-Resources converted to server component
  src/app/actions/resources.ts
  src/app/resources/[resource]/page.tsx
  src/app/resources/page.tsx
  src/components/resource_grid.tsx
Due: none

imp: noStore() added
  src/app/actions/resources.ts
Due: none

feat: admin file structure
  src/app/admin/dashboard/add/page.tsx
  src/app/admin/dashboard/edit/page.tsx
  src/app/admin/dashboard/page.tsx
  src/app/admin/login/page.tsx
  src/app/admin/page.tsx
Due: none

feat: admin login | firebase connection remaining
  .env.sample
  package.json
  pnpm-lock.yaml
  src/app/actions/admin.ts
  src/app/admin/login/page.tsx
  src/app/admin/page.tsx
  src/components/ui/input.tsx
  src/components/ui/label.tsx
  src/firebaseConfig.js
  src/lib/encoded_JWT_secrete.ts
  src/lib/env.ts
  src/lib/generate_admin.ts
  src/lib/verify_admin.ts
  src/middleware.ts
Due: prettier --write --ignore-path .gitignore ., eslint --fix, eslint

feat: firebase connection for admin login
  src/app/actions/admin.ts
Due: none

fix: formatting and minor changes
  package.json
  pnpm-lock.yaml
  src/app/actions/resources.ts
  src/app/admin/dashboard/add/page.tsx
  src/app/admin/dashboard/edit/page.tsx
  src/app/admin/dashboard/page.tsx
  src/app/not-found.tsx
  src/app/page.tsx
  src/app/resources/[resource]/card.tsx
  src/app/resources/[resource]/page.tsx
Due: prettier --write --ignore-path .gitignore .

chore: folder structure changed
  src/app/(admin-panel)/_actions/admin.ts
  src/app/(admin-panel)/admin/dashboard/add/page.tsx
  src/app/(admin-panel)/admin/dashboard/edit/page.tsx
  src/app/(admin-panel)/admin/dashboard/page.tsx
  src/app/(admin-panel)/admin/login/page.tsx
  src/app/(admin-panel)/layout.tsx
  src/app/(user-facing)/_actions/resources.ts
  src/app/(user-facing)/events/page.tsx
  src/app/(user-facing)/favicon.ico
  src/app/(user-facing)/layout.tsx
  src/app/(user-facing)/loading.tsx
  src/app/(user-facing)/members/page.tsx
  src/app/(user-facing)/memories/page.tsx
  src/app/(user-facing)/not-found.tsx
  src/app/(user-facing)/page.tsx
  src/app/(user-facing)/resources/[resource]/card.tsx
  src/app/(user-facing)/resources/[resource]/page.tsx
  src/app/(user-facing)/resources/layout.tsx
  src/app/(user-facing)/resources/page.tsx
  src/components/resource_grid.tsx
Due: none

build: env
  .env.sample
  src/lib/encoded_JWT_secrete.ts
  src/lib/env.ts
Due: none

feat: dashboard UI
  package.json
  pnpm-lock.yaml
  src/app/(admin-panel)/admin/dashboard/_components/data.ts
  src/app/(admin-panel)/admin/dashboard/_components/resource_card.tsx
  src/app/(admin-panel)/admin/dashboard/layout.tsx
  src/app/(admin-panel)/admin/dashboard/page.tsx
  src/app/(user-facing)/resources/layout.tsx
  src/components/resource_grid.tsx
  src/components/ui/select.tsx
Due: prettier --write --ignore-path .gitignore .

feat: search and filter functionality
  src/app/(admin-panel)/admin/dashboard/page.tsx
Due: none

fix: filter and serach
  src/app/(admin-panel)/admin/dashboard/_components/data.ts
  src/app/(admin-panel)/admin/dashboard/page.tsx
Due: none

fix: filter and serach
  src/app/(admin-panel)/admin/dashboard/page.tsx
Due: none

feat: add resource page
  package.json
  pnpm-lock.yaml
  src/app/(admin-panel)/_actions/resource.ts
  src/app/(admin-panel)/admin/dashboard/_components/data.ts
  src/app/(admin-panel)/admin/dashboard/add/page.tsx
  src/components/ui/badge.tsx
  src/components/ui/command.tsx
  src/components/ui/custome-multi-select.tsx
  src/components/ui/dialog.tsx
  src/components/ui/textarea.tsx
  src/lib/convert-tags.ts
  src/lib/types.ts
Due: prettier --write --ignore-path .gitignore .

fix: tags conversion handled
  src/app/(admin-panel)/admin/dashboard/_components/data.ts
  src/app/(admin-panel)/admin/dashboard/_components/resource_card.tsx
  src/app/(admin-panel)/admin/dashboard/page.tsx
  src/lib/convert-tags.ts
Due: none

feat: new multiselector fixed tags
  src/app/(admin-panel)/_actions/resource.ts
  src/app/(admin-panel)/admin/dashboard/_components/resource_card.tsx
  src/app/(admin-panel)/admin/dashboard/add/page.tsx
  src/app/(admin-panel)/admin/dashboard/page.tsx
  src/components/extension/multi-selector.tsx
  src/components/ui/custome-multi-select.tsx
  src/lib/convert-tags.ts
  src/lib/get-six-digit-num.ts
Due: none

fix: add button and mobile responsiveness
  src/app/(admin-panel)/admin/dashboard/add/page.tsx
  src/app/(admin-panel)/admin/dashboard/layout.tsx
  src/app/(admin-panel)/admin/dashboard/page.tsx
Due: none

chore: add resource page heading
  src/app/(admin-panel)/admin/dashboard/add/page.tsx
Due: none

feat: edit and delete ui on dashboard
  package.json
  pnpm-lock.yaml
  src/app/(admin-panel)/admin/dashboard/_components/resource_card.tsx
  src/components/ui/alert-dialog.tsx
Due: prettier --write --ignore-path .gitignore .

feat: admin dashboard resource edit page
  src/app/(admin-panel)/_actions/resource.ts
  src/app/(admin-panel)/admin/dashboard/edit/[id]/page.tsx
  src/app/(admin-panel)/admin/dashboard/edit/page.tsx
Due: none

fix: admin dashboard card
  src/app/(admin-panel)/admin/dashboard/_components/resource_card.tsx
Due: none

fix: multi-selector shadcn extension
  src/components/extension/multi-selector.tsx
Due: none
